@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fefae0;
}
.container{
    width: 1100px;
    overflow: hidden;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
nav{
    width: 100%;
    height: 70px;
    background-color: #fe7f2d;
    display: flex;
    justify-content: center;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-nav img{
    width: 70px;
    height: 70px;
}
.main-nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    align-items: center;
}
.main-nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #233d4d;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
.main-nav ul li a:hover{
    color: #d62828;
}
.main-nav ul #logout{
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #d62828;
    height: 50px;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding-top: 5px;
    transition: all 0.3s ease-in;
}
.main-nav ul #logout:hover{
    background-color: #9d0208;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 2.2rem;
    color: #d00000;
    margin-top: 50px;
    font-weight: 600;
}
.input{
    width: 800px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 30px;
    padding-bottom: 50px;
}
#input-task{
    border: none;
    outline: none;
    background-color: #ccd5ae;
    width: 450px;
    height: 60px;
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    padding-right: 10px;
}
#task-submit{
    border: none;
    font-size: 1.2rem;
    padding: 15px;
    background-color: #023047;
    color: white;
    border-radius: 15px;
}
#output-task{
    margin-top: 50px;
    width: 800px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-block: 20px;
    flex-direction: column;
    background-color: #fff;
}
.content ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.content ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../unchecked\ icon.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
.content ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.content ul li span:hover{
    background: #edeef0;
}